body {
        margin: 0px;
        background: #ddd;
      }

.mobilescreen {
        /* border: 1px dotted black; */
        width: 360px;
        min-height: 100vh;
        margin: 0 auto;
        background: white;
        border:1px solid black;
        padding-left: 10px;
      }

.arrow a{
    color:black;
}

.head3{
font-family: Arial, Helvetica, sans-serif;
}

.para1{
    color:rgba(0, 0, 0, 0.732);
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}

.head1{
    font-family: Arial, Helvetica, sans-serif;

}

.head2{
font-family: Arial, Helvetica, sans-serif;
}

.save{
    text-decoration: none;
    background-color: rgba(0, 0, 255, 0.495);
    color:white;
    padding:15px;
    margin-left:15px;
    margin-top:300px;
    width:80%;
    display:inline-block;
    text-align: center;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


.int{
    width:80%;
    border:1px solid black;
    border-radius: 5px;
    padding:10px;
}


