*{
    margin:0;
    padding:0;
}

.main{
    width:360px;
    height:760px;
    background-color:white;
    border:1px solid rgb(0, 0, 0);
    margin:0 auto;
    padding:12px;
}
h2{
    word-spacing: 0.1em;
}
.description{
    width:85%;
    padding:1em 1em 1em 0;
    color: rgb(44 44 44);
    font-weight:500;
    
}
label{
    font-weight: 600;
}
.input {
  display: flex;          /* put icon + input in one line */
  align-items: center;    /* vertical center */
  background: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid transparent;
  margin: 10px;;
  cursor: text;
}
input{
  outline: none;
  border: 2px solid transparent;
  background-color: #f3f3f3;
}

.icon {
  width: 18px;
  height: 18px;
}

.box input {
  border: none;           /* remove border */
  outline: none;
  background: transparent;
  margin-left: 8px;       /* space from icon */
}

